*{
    //Reiniciar estilos
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 80%;
    border: 1px solid black;
    margin: 0 auto;
}

.line-header, .line-footer{
    background-color: $color-purple;
    height: 5px;
    position: relative;
    align-items: center;
}

header{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px 0 200px;

    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        list-style: none;

        li{
            padding-right: 48px;

            .linkFavorites, .linkMyGifos{
                color: $color-grey;
            }

            a{
                text-decoration: none;
                color: $color-purple;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 13px;

                &:hover{
                    color: $color-grey;
                    text-decoration: underline;
                    text-decoration-color: $color-green;
                }
            }

            img{
                border: 1px solid $color-purple;
                border-radius: 100%;
            }
        }
    }

    .hamburger{
        display: none;
    }

    .bar{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: $color-purple;
    }

    @media (max-width: $breakpoint_mobile){
        padding: 20px 20px 0 20px;

        .menu{
            z-index: 1;
            position: fixed;
            left: -100%;
            top: 5rem;
            flex-direction: column;
            background-color: $color-purple; 
            width: 100%;
            height: 484px;
            text-align: center;
            transition: 0.3s;
            box-shadow:
                0 10px 27px rgba(0, 0, 0, 0.05);
            .makeGifo{
                display: none;
            }
            li{
                a{
                    color: white;
                }
            }
        }

        .menu.active{
            left: 0;
        }

        .hamburger {
            display: block;
            cursor: pointer;
        }

        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }
    
        .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
    
        .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 300px 0 300px;
    margin-bottom: 20px;

    .FooterSNH4{
        display: none;
    }

    .footer ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        list-style: none;
        font-size: 13px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;

        li{
            padding-right: 36px;
            text-decoration: none;
        }
    }
    @media (max-width: $breakpoint_mobile){
        padding: 20px 20px 0 20px;
        font-size: 10px;
        display: block;
        text-align: center;

        .FooterSNH4{
            display: block;
        }
        .footer ul{
            margin: 10px 0 20px 0;
            .FooterSNLI{
                display: none;
            }
        }
    }
}

.dark-mode{
    background-color: $background-noc;
    header{
        a{
            color: white;
        }
    }

    footer{
        h4{
            color: white;
        }
    }

    .searchGifo{
        h1{
            color: white;
        }
        
        .wrapper{
            .content-searchInput{
                border: 1.5px solid white;

                input{
                    background-color: $background-noc;
                }
            }
        }

        .textSearch{
            color: white;
        }
    }

    .trendingGifos{
        background-color: black;
        h2, h3{
            color: white;
        }
    }

    .favoritesGifo, .MyGifos{
        h1{
            color: white;
        }
    }

    .boxMakeGifo{
        h2, h3{
            color: white;
        }
    }

    .timer-process{
        li, label {
            color: white;
        }
    }
}